@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&display=swap');

:root {
  --color-1: hsl(192, 31%, 26%);
  --color-2: hsl(208, 35%, 25%);
  --color-3: hsl(236, 94%, 7%);
  --color-4: hsl(107, 49%, 70%);
  --color-5: hsl(106, 80%, 75%);
  --body-font: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--body-font);
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
  pointer-events: none;
  visibility: hidden;
}

.form__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.register__container {
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: display .5s ease-in-out;
}

.content__left {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__left img {
  width: 45vw;
}

.content__right {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 2%;
}

.content__right__register {
  background-color: hsl(from var(--color-2) h s calc(1 + 15));
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.75rem .5rem hsla(0, 0%, 0%, 0.085);
}

.row {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: .5rem 1.2rem;
  color: var(--color-4);
}

.row div {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  border: 3px solid var(--color-1);
  border-radius: 50%;
  padding: .5rem;
}

.row span {
  font-weight: 700;
  font-size: 1.5rem;
}

.textfield {
  position: relative;
  margin-block: 2rem;
  width: 100%;
}

.labelText {
  position: absolute;
  left: 0;
  top: -2px;
  font-size: 14px;
  color: hsl(from var(--color-3) h s calc(1 + 90));
  pointer-events: none;
  transition: .5s;
}

.inputText {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-3);
  color: hsl(from var(--color-3) h s calc(1 + 90));
  letter-spacing: 1px;
  font-size: 1rem;
  width: 100%;
}

.inputText:focus~.labelText,
.inputText:valid~.labelText {
  top: -20px;
  font-size: 12px;
  color: var(--color-5);
}

.row__datanasc {
  color: hsl(from var(--color-3) h s calc(1 + 90));
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.row__datanasc label {
  cursor: pointer;
}

#datanasc {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 5px;
}

.remember {
  display: flex;
  justify-content: space-between;
}

.remember label {
  cursor: pointer;
  color: var(--color-3);
  font-size: 14px;
}

.remember a {
  color: hsl(from var(--color-3) h s calc(1 + 90));
  cursor: pointer;
  font-size: 14px;
  transition: .5s;
}

.remember a:hover {
  color: hsl(from var(--color-3) h s calc(1 + 85));
}

.btn {
  outline: none;
  border: none;
  display: flex;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  justify-content: center;
  margin-top: 5%;
  padding: 1rem;
  background-color: var(--color-1);
  color: hsl(from var(--color-3) h s calc(1 + 90));
  border-radius: .5rem;
  box-shadow: 0 0.1rem 0.75rem .5rem hsla(0, 0%, 0%, 0.085);
  transition: .5s;

  &:hover {
    background-color: var(--color-2);
  }
}

p {
  font-size: 1rem;
  text-align: center;
  color: var(--color-3);
}

p a {
  color: hsl(from var(--color-3) h s calc(1 + 90));
  transition: .5s;
}

p a:hover {
  text-decoration: underline;
}

/* -------------------- FORM LOGIN -------------------- */
.login__container {
  background-color: var(--color-1);
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: display .5s ease-in-out;
}

.login__container .content__right {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container .content__right img {
  width: 45vw;
}

.login__container .content__left {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 2%;
}

.content__left__login {
  background-color: hsl(from var(--color-2) h s calc(1 + 15));
  width: 80%;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.75rem .5rem hsla(0, 0%, 0%, 0.085);
}



@media only screen and (max-width: 950px) {
  .content__right__register {
    width: 85%;
  }

  .content__left__login {
    width: 85%;
  }

  .remember label,
  .remember a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .register__container {
    flex-direction: column;
  }

  .content__left {
    width: 100%;
    height: auto;
  }

  .content__left img {
    width: 45vw;
  }

  .content__right {
    width: 100%;
    height: auto;
    margin-inline: 0%;
  }

  .content__right__register {
    width: 80%;
    padding: 1rem;
  }

  .row {
    padding-block: .2rem;
  }

  .row div {
    font-size: 1.2rem;
  }

  .row span {
    font-size: 1rem;
    padding-block-start: .5rem;
  }

  .textfield {
    margin-block-end: 1.5rem;
  }

  .btn {
    margin-top: 1rem;
    padding: .75rem;
  }

  /* ---------------------------- Login ---------------------------- */
  .login__container {
    flex-direction: column-reverse;
  }

  .login__container .content__right {
    width: 100%;
    height: auto;
  }

  .login__container .content__right img {
    width: 45vw;
  }

  .login__container .content__left {
    width: 100%;
    height: auto;
    margin-inline: 0%;
  }

  .content__right__login {
    width: 80%;
    padding: 1rem;
  }
}